/*** Basics ***/

body {
    font-size: 0.9em;
    line-height: 160%;
    color: #333;
}

a {
    color: #333;
}

a:hover {
    text-decoration: underline;
}

p,
pre {
    margin-bottom: 15px;
}

pre {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    background-color: #d1d1d1;
    padding: 10px;
    border-radius: 4px;
}

ul,
ol {
    padding: 0 0 18px 30px;
}

em,
i {
    font-style: italic;
}

strong,
b {
    font-weight: bold;
}

small {
    font-size: 0.85em;
}

sup {
    vertical-align: super;
    font-size: 0.85em;
}

sub {
    vertical-align: sub;
    font-size: 0.85em;
}

hr {
    width: 60%;
}

blockquote {
    margin: 22px 22px;
    padding: 0 20px;
    border-left: 2px solid #000;
    font-style: italic;
}

acronym,
abbr {
    cursor: help;
    letter-spacing: 1px;
    border-bottom: 1px dashed;
}


/** Input **/

input[type=text] {
    border: none;
    max-width: 220px;
    border-radius: 0px;
}

input[type=submit] {
    background: none;
    border: 2px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background: #000;
    color: #fff;
}


/*** Typography ***/


/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

h1,
h2 {
    font-family: nyt-cheltenham, Georgia, 'Times New Roman', times, serif;
    font-weight: 500;
    font-style: italic;
    letter-spacing: -0.015em;
    color: #000;
}

h1,
h2 a {
    color: #000;
}

h3,
h4,
h5,
h6 {
    font-family: nyt-cheltenham, Georgia, 'Times New Roman', times, serif;
    font-weight: 500;
    letter-spacing: -0.015em;
    color: #000;
}

h3,
h4,
h5,
h6 a {
    color: #000;
}

code {
    font: 0.85em Monaco, Courier, Monospace;
}

input[type=text] {
    font-family: Helvetica, Arial, sans-serif;
}

.categories {
    display: inline;
    border-left: 1px solid #000;
    padding: 3px;
}

.label {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    display: inline;
    border-radius: 4px;
    background-color: #d1d1d1;
    padding: 3px;
    margin: 3px;
}

.label a {
    text-decoration: none;
}

.label a:hover {
    text-decoration: underline;
}


/*** Structure ***/


/* TODO: fix here */

.container {
    text-align: left;
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.title {
    max-width: 500px;
    display: block;
    margin: auto;
    padding-top: 10px;
}

.navigation {
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    padding-top: 5px;
    margin: 22px 0px;
    text-align: center;
}

.navigation a {
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', times, serif;
    font-style: italic;
    font-size: 1.1em;
}

.navigation li {
    float: left;
    padding: 0px 3px;
}

.search {
    float: right;
    text-align: left;
    width: 230px;
    display: block;
}

main {
    width: 630px;
    float: left;
    margin-right: 40px;
    overflow: hidden;
}

.sidebar {
    float: right;
    width: 230px;
}

.sidebar .search {
    display: none;
}

.postdescription {
    font-style: italic;
    font-family: serif;
    color: #777;
    line-height: 100%;
}

.featured {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    padding-left: 0;
}

.goals {
    list-style: none;
    padding-left: 0;
}

.footnotes {
    margin-top: 60px;
    border-top: 1px dotted #aaa;
}

footer {
    margin-top: 60px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: #777;
    border-top: 1px solid #aaa;
    text-align: center;
}


/*** Useful Classes ***/

.clear {
    clear: both;
}

.img-left {
    float: left;
    margin: 4px 10px 4px 0;
}

.img-right {
    float: right;
    margin: 4px 0 4px 10px;
}

.img-middle {
    vertical-align: middle;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*** Posts ***/

article {
    margin-bottom: 40px;
}

article a {
    color: #333;
    text-decoration: underline;
}

article img {
    display: block;
    text-align: center;
    margin: 0 auto 1em auto;
}

article time {
    font-family: Georgia, 'Times New Roman', times, serif;
    font-size: 0.8em;
}

article .meta {
    padding-top: 6px;
    font-size: 0.85em;
    font-style: italic;
}

img {
    display: block;
    text-align: center;
    max-width: 100%;
    max-height: 400px;
}

article .post-title {
    margin: 0px;
    font-size: 1.8em;
    line-height: 1.2em;
    text-decoration: none;
}

article .post-title a {
    text-decoration: none;
    color: #000;
}


/*** Pagination ***/

.postnavigation {
    padding-top: 5px;
    margin: 22px 0px;
    text-align: center;
}

.postnavigation a {
    text-decoration: none;
}

.postnavigation a:hover {
    text-decoration: underline;
}

.postnavigation ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', times, serif;
    font-style: italic;
    font-size: 1.1em;
}

.postnavigation li {
    float: left;
    padding: 0px 3px;
}


/*** Media Queries ***/

@media all and (max-width: 870px) {
    .container {
        width: inherit;
        padding-left: 10px;
        padding-right: 10px;
    }
    #page,
    .post-title,
    .post,
    footer,
    header,
    main {
        width: 100%;
    }
    .sidebar {
        position: relative;
        text-align: left;
        width: 100%;
        margin: 10px 0px 20px 10px;
        border-left: none;
    }
    .search {
        display: none;
    }
    .sidebar .search {
        float: none;
        display: block;
    }
    .sidebar .search input[type=text] {
        border-bottom: 2px solid #000;
    }
}