/*** Basics ***/

body {
    font-size: 0.9em;
    line-height: 160%;
    color: #333;
}

a {
    color: #333;
}

a:hover {
    text-decoration: underline;
}

p,
pre {
    margin-bottom: 15px;
}

pre {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    background-color: #d1d1d1;
    padding: 10px;
    border-radius: 4px;
}

ul,
ol {
    padding: 0 0 18px 30px;
}

em,
i {
    font-style: italic;
}

strong,
b {
    font-weight: bold;
}

small {
    font-size: 0.85em;
}

sup {
    vertical-align: super;
    font-size: 0.85em;
}

sub {
    vertical-align: sub;
    font-size: 0.85em;
}

hr {
    width: 60%;
    margin-bottom: 30px;
}

blockquote {
    margin: 10px;
    padding: 0px 1rem;
    border-left: 2px solid #000;
    font-style: italic;
}

acronym,
abbr {
    cursor: help;
    letter-spacing: 1px;
    border-bottom: 1px dashed;
}


/** Input **/

input[type=text] {
    border: none;
    max-width: 220px;
    border-radius: 0px;
}

input[type=submit] {
    background: none;
    border: 2px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background: #000;
    color: #fff;
}

.archive-link{
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 11px;
    padding: 3px;
    background: none;
    border: 2px solid #000;
    border-radius: 4px;
    cursor: pointer;
}

.archive-link:hover {
    background: #000;
    color: #fff;
}

/*** Typography ***/
@font-face {
    font-family: "Covered By Your Grace";
    src: url(fonts/CoveredByYourGrace.ttf);
}

@font-face {
    font-family: "Permanent Marker";
    src: url(fonts/PermanentMarker.ttf);
}

@font-face {
    font-family: nyt-cheltenham;
    src: url(fonts/nyt-cheltenham-medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: nyt-cheltenham;
    src: url(fonts/nyt-cheltenham-medium-italics.ttf);
    font-weight: 500;
    font-style: italic;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

h1,
h2 {
    font-family: nyt-cheltenham, Georgia, 'Times New Roman', times, serif;
    font-weight: 500;
    letter-spacing: -0.015em;
    color: #000;
}

h1,
h2 a {
    color: #000;
}

h3,
h4,
h5,
h6 {
    font-family: nyt-cheltenham, Georgia, 'Times New Roman', times, serif;
    font-weight: 500;
    letter-spacing: -0.015em;
    color: #000;
}

h3,
h4,
h5,
h6 a {
    color: #000;
}

header h1,
header h2 {
    font-style: italic;
}

code {
    font: 0.85em Monaco, Courier, Monospace;
}

input[type=text] {
    font-family: Helvetica, Arial, sans-serif;
}

.categories {
    display: inline;
    border-left: 1px solid #000;
    padding: 3px;
}

.label {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    display: inline;
    border-radius: 4px;
    background-color: #d1d1d1;
    padding: 3px;
    margin: 3px;
}

.label a {
    text-decoration: none;
}

.label a:hover {
    text-decoration: underline;
}

.twitter a {
    color: #4099FF;
}

.facebook a {
    color: #3b5998;
}

/*** Structure ***/


/* TODO: fix here */

.container {
    text-align: left;
    width: 770px;
    margin-right: auto;
    margin-left: auto;
}

.title {
    max-width: 500px;
    display: block;
    margin: auto;
    padding-top: 10px;
}

.navigation {
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    padding-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

.navigation a {
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', times, serif;
    font-style: italic;
    font-size: 1.1em;
}

.navigation li {
    float: left;
    padding: 0px 3px;
}

.navigation li:after {
  content: " \00b7 ";
}

.navigation li:last-child:after {
    content: "";
}

.search {
    float: right;
    text-align: left;
    width: 230px;
    display: block;
}

.search li:after {
    content: "";
}

main {
    width: 500px;
    float: left;
    margin-right: 40px;
    overflow: hidden;
}

.content {
    width: 540px;
    margin-right: 0px;
    margin-left: 60px;
}

.sidebar {
    float: right;
    width: 230px;
}

.sidebar input[type=text] {
    border-bottom: 2px solid #000;
}

.sidebar .search {
    display: none;
}

.postdescription {
    font-style: italic;
    font-family: serif;
    color: #777;
    line-height: 100%;
}

.featured {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    padding-left: 0;
}

.goals {
    list-style: none;
    padding-left: 0;
}

.footnotes {
    margin-top: 60px;
    border-top: 1px dotted #aaa;
}

footer {
    color: #777;
    font-family: nyt-cheltenham, Georgia, 'Times New Roman', times, serif;
    font-weight: 500;
    font-size: 0.9em;
    margin-top: 40px;
}

footer .bottom {
    width: 770px;
    border-top: 1px solid #aaa;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.post-footer {
    width: 100%;
    margin: 40px 0;
    border-top: 0px;
    text-align: left;
}

.post-responses {
    width: 100%;
    margin: 40px 0;
    border-top: 0px;
    text-align: left;
}

/*** Useful Classes ***/

.clear {
    clear: both;
}

.img-left {
    float: left;
    margin: 4px 10px 4px 0;
}

.img-right {
    float: right;
    margin: 4px 0 4px 10px;
}

.img-middle {
    vertical-align: middle;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*** Posts ***/

article {
    margin-bottom: 40px;
}

article a {
    color: #333;
    text-decoration: underline;
}

article time {
    font-family: Georgia, 'Times New Roman', times, serif;
    font-size: 0.8em;
}

article .meta {
    padding-top: 6px;
    font-size: 0.85em;
    font-style: italic;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%; 
}

td, td img {
  vertical-align: top; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

article .post-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.8em;
    font-style: italic;
    line-height: 1.2em;
    text-decoration: none;
}

article .post-title a {
    text-decoration: none;
    color: #000;
}

/*** Highlight ***/
.highlight {
    background: #d1d1d1;
}

.highlight .c {
    color: #999988;
    font-style: italic
}


/* Comment */

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}


/* Error */

.highlight .k {
    font-weight: bold
}


/* Keyword */

.highlight .o {
    font-weight: bold
}


/* Operator */

.highlight .cm {
    color: #999988;
    font-style: italic
}


/* Comment.Multiline */

.highlight .cp {
    color: #999999;
    font-weight: bold
}


/* Comment.Preproc */

.highlight .c1 {
    color: #999988;
    font-style: italic
}


/* Comment.Single */

.highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic
}


/* Comment.Special */

.highlight .gd {
    color: #000000;
    background-color: #ffdddd
}


/* Generic.Deleted */

.highlight .gd .x {
    color: #000000;
    background-color: #ffaaaa
}


/* Generic.Deleted.Specific */

.highlight .ge {
    font-style: italic
}


/* Generic.Emph */

.highlight .gr {
    color: #aa0000
}


/* Generic.Error */

.highlight .gh {
    color: #999999
}


/* Generic.Heading */

.highlight .gi {
    color: #000000;
    background-color: #ddffdd
}


/* Generic.Inserted */

.highlight .gi .x {
    color: #000000;
    background-color: #aaffaa
}


/* Generic.Inserted.Specific */

.highlight .go {
    color: #888888
}


/* Generic.Output */

.highlight .gp {
    color: #555555
}


/* Generic.Prompt */

.highlight .gs {
    font-weight: bold
}


/* Generic.Strong */

.highlight .gu {
    color: #aaaaaa
}


/* Generic.Subheading */

.highlight .gt {
    color: #aa0000
}


/* Generic.Traceback */

.highlight .kc {
    font-weight: bold
}


/* Keyword.Constant */

.highlight .kd {
    font-weight: bold
}


/* Keyword.Declaration */

.highlight .kp {
    font-weight: bold
}


/* Keyword.Pseudo */

.highlight .kr {
    font-weight: bold
}


/* Keyword.Reserved */

.highlight .kt {
    color: #445588;
    font-weight: bold
}


/* Keyword.Type */

.highlight .m {
    color: #009999
}


/* Literal.Number */

.highlight .s {
    color: #d14
}


/* Literal.String */

.highlight .na {
    color: #008080
}


/* Name.Attribute */

.highlight .nb {
    color: #0086B3
}


/* Name.Builtin */

.highlight .nc {
    color: #445588;
    font-weight: bold
}


/* Name.Class */

.highlight .no {
    color: #008080
}


/* Name.Constant */

.highlight .ni {
    color: #800080
}


/* Name.Entity */

.highlight .ne {
    color: #990000;
    font-weight: bold
}


/* Name.Exception */

.highlight .nf {
    color: #990000;
    font-weight: bold
}


/* Name.Function */

.highlight .nn {
    color: #555555
}


/* Name.Namespace */

.highlight .nt {
    color: #000080
}


/* Name.Tag */

.highlight .nv {
    color: #008080
}


/* Name.Variable */

.highlight .ow {
    font-weight: bold
}


/* Operator.Word */

.highlight .w {
    color: #bbbbbb
}


/* Text.Whitespace */

.highlight .mf {
    color: #009999
}


/* Literal.Number.Float */

.highlight .mh {
    color: #009999
}


/* Literal.Number.Hex */

.highlight .mi {
    color: #009999
}


/* Literal.Number.Integer */

.highlight .mo {
    color: #009999
}


/* Literal.Number.Oct */

.highlight .sb {
    color: #d14
}


/* Literal.String.Backtick */

.highlight .sc {
    color: #d14
}


/* Literal.String.Char */

.highlight .sd {
    color: #d14
}


/* Literal.String.Doc */

.highlight .s2 {
    color: #d14
}


/* Literal.String.Double */

.highlight .se {
    color: #d14
}


/* Literal.String.Escape */

.highlight .sh {
    color: #d14
}


/* Literal.String.Heredoc */

.highlight .si {
    color: #d14
}


/* Literal.String.Interpol */

.highlight .sx {
    color: #d14
}


/* Literal.String.Other */

.highlight .sr {
    color: #009926
}


/* Literal.String.Regex */

.highlight .s1 {
    color: #d14
}


/* Literal.String.Single */

.highlight .ss {
    color: #990073
}


/* Literal.String.Symbol */

.highlight .bp {
    color: #999999
}


/* Name.Builtin.Pseudo */

.highlight .vc {
    color: #008080
}


/* Name.Variable.Class */

.highlight .vg {
    color: #008080
}


/* Name.Variable.Global */

.highlight .vi {
    color: #008080
}


/* Name.Variable.Instance */

.highlight .il {
    color: #009999
}


/* Literal.Number.Integer.Long */

/*** Pagination ***/

.postnavigation {
    padding-top: 5px;
    margin: 22px 0px;
    text-align: center;
}

.postnavigation a {
    text-decoration: none;
}

.postnavigation a:hover {
    text-decoration: underline;
}

.postnavigation ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', times, serif;
    font-style: italic;
    font-size: 1.1em;
}

.postnavigation li {
    float: left;
    padding: 0px 3px;
}

section.posts article.post {
  margin-bottom: 6em; }
  section.posts article.post header h1.title {
    font-size: 1.78em; }

main > section.archive {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap; }
  main > section.archive h2 {
    width: 100%; }
  main > section.archive .archive-months {
    width: 200px;
    margin-bottom: 1em; }
    main > section.archive .archive-months ul {
      list-style: disc;
      padding-left: 1em; }
    main > section.archive .archive-months .archive-all-dates {
      margin-top: 0.5em;
      font-size: 0.9em; }
    main > section.archive .archive-months .posthaven-archive-selected a {
      color: inherit; }
  main > section.archive .archive-results {
    max-width: 600px;
    flex: 1; }
    main > section.archive .archive-results form, main > section.archive .archive-results input {
      margin-bottom: 0.75em;
      width: 100%; }
    main > section.archive .archive-results li {
      margin-bottom: 0.5em; }
      main > section.archive .archive-results li .archive-date {
        font-size: 0.8em; }
  main > section.archive .archive-pagination {
    margin-top: 0.25em;
    font-size: 0.9em; }
    main > section.archive .archive-pagination a {
      display: inline-block;
      margin-right: 0.5em; }

.private-password main p {
  margin-bottom: 0.5em; }

/*********************************************************
*  Responses
*********************************************************/
footer.post-responses .responses {
  margin-bottom: 2em; }
  footer.post-responses .responses .response {
    margin: 2em 0; 
    padding-bottom: 1em;
    border-bottom: 1px solid #777;}
    footer.post-responses .responses .response p {
      margin: 8px 0px; }
    footer.post-responses .responses .response p:first-child {
      margin: 0 0 8px; }
    footer.post-responses .responses .response .comment {
      color: #444;
      font-weight: 500;
      margin-bottom: 8px; }
    footer.post-responses .responses .response .byline {
      margin-top: 0.25em;
      font-size: 0.7em; }
    footer.post-responses .responses .response ul, footer.post-responses .responses .response ol {
      padding-left: 1em; }
    footer.post-responses .responses .response ul {
      list-style: disc; }
    footer.post-responses .responses .response blockquote {
      padding-left: 0.9em;
      border-left: 0.1em #ddd; }
  footer.post-responses .responses table {
    width: 100%; }
    footer.post-responses .responses table, footer.post-responses .responses table th, footer.post-responses .responses table td {
      border-top: 1px solid #ddd; }
    footer.post-responses .responses table th, footer.post-responses .responses table td {
      padding: 0.33em; }
footer.post-responses .new-comment {
  margin: 1em 0 2em; }

.posthaven-comment-form .posthaven-field {
  margin: 0.75em 0; }
  .posthaven-comment-form .posthaven-field label {
    display: block;
    margin-bottom: 0.25em; }
  .posthaven-comment-form .posthaven-field textarea, .posthaven-comment-form .posthaven-field input[type=text] {
    max-width: 95%;
    width: 34em; }
  .posthaven-comment-form .posthaven-field input[type=checkbox] {
    vertical-align: baseline;
    margin-right: 0.25em; }
  .posthaven-comment-form .posthaven-field.posthaven-comment-notify-field label {
    display: inline; }
.posthaven-comment-form .posthaven-comment-verification {
  width: 34em;
  margin-bottom: 0.75em; }

/*********************************************************
*  Share links
*********************************************************/

.posthaven-share-links .posthaven-share-item {
  display: inline-block;
  overflow: visible; }
.posthaven-share-links .posthaven-upvote {
  min-width: 90px;
  margin-right: 35px; }
.posthaven-share-links .posthaven-twitter-share {
  min-width: 107px;
  margin-right: 20px; }

.posthaven-private-form .posthaven-field {
  display: inline-block;
  margin-right: 0.25em; }

/*** Media Queries ***/

@media all and (max-width: 870px) {
    .container {
        width: inherit;
        padding-left: 10px;
        padding-right: 10px;
    }
    #page,
    .post-title,
    .post,
    footer,
    header,
    main {
        width: 100%;
        margin: 0px;
    }
    .sidebar {
        position: relative;
        text-align: left;
        width: 100%;
        margin: 10px 0px 20px 10px;
        border-left: none;
    }
    .content {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .search {
        display: none;
    }
    .sidebar .search {
        float: none;
        display: block;
    }

    .search a {
        text-decoration: none;
    }

    .sidebar .search ul{
        display: inline-block;
        margin: 0;
        padding: 0;
        /* For IE, the outcast */
        zoom: 1;
        *display: inline;
        list-style-type: none;
    }

    .sidebar .search  li {
        float: left;
        padding: 0px 3px;
    }

}
