--- 
layout: default 
--- 

{% for post in paginator.posts %}

<article class="post">
    <header>
        <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
        <div class="categories">{% for category in post.categories %}<span class="label"><a href="/category/{{ category | downcase }}">{{ category | upcase }}</a> </span>{% endfor %}</div>
        {% if post.image %}<img class="headimg" src="/images/{{ post.slug }}/{{ post.image }}"> {% endif %}
    </header>
    {{ post.excerpt }}
<p><a href="{{ post.url }}">Read more</a></p>
<p><i>Or share this on 
            <a class="twitter" href="https://twitter.com/intent/tweet?text={{ post.title | uri_escape }}&url={{ site.url }}{{ post.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a> 
            and <a class="facebook" href="https://facebook.com/sharer.php?u={{ site.url }}{{ post.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a></i></p>
</article>
{% endfor %}

<nav class="postnavigation">
    <ul>
    {% if paginator.previous_page %}
    <li><a class="prev left" href="{{ paginator.previous_page_path }}">&laquo; Previous</a>  |</li> {% endif %} {% if paginator.next_page %}
    <li><a class="next right" href="{{ paginator.next_page_path }}">Next &raquo;</a></li> {% endif %}
    </ul>
</nav>
