--- 
layout: default 
title: tasos sangiotis 
--- 

{% for post in site.posts limit: 1 offset: 1 %}
<nav class="postnavigation">

    <a class="prev left" href="{{ post.url }}">&laquo; {{ post.title }}</a>

</nav>
{% endfor %} {% for post in site.posts limit: 1 %}

<article class="post">
    <header>
        <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <p><strong><time pubdate="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time></strong></p>
    </header>
    {{ post.content }}
</article>
<div class="share-page">
    <p><i>Share this on 
		<a href="https://twitter.com/intent/tweet?text={{ post.title | uri_escape }}&url={{ site.url }}{{ post.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a> 
		or <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ post.url }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a></i></p>
</div>

{% endfor %} {% for post in site.posts limit: 1 offset: 1 %}
<nav class="postnavigation">

    <a class="prev left" href="{{ post.url }}">&laquo; {{ post.title }}</a>

</nav>

{% endfor %}
