:root {
    --content-width: 78rem;
    --body-padding: 2.4rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

[hidden] {
    display: none !important;
}

:root {
    --rgb-white: 255, 255, 255;
    --rgb-almost-black: 35, 28, 51;
    --rgb-medium-gray: 226, 221, 215;
    --rgb-canary: 255, 245, 202;
    --color-bg--main: rgb(var(--rgb-white));
    --color-bg--surface: rgba(var(--rgb-medium-gray), 0.4);
    --color-almost-black: rgb(var(--rgb-almost-black));
    --color-bg--postit: rgb(var(--rgb-canary));
    --color-txt: rgb(var(--rgb-almost-black));
    --color-txt--subtle: rgba(var(--rgb-almost-black), 0.66);
}

:root {
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --letter-spacing--titles: -0.015em;
    --font-family--mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    --font-size-base: 10px;
    --font-size-x-small: 1.2rem;
    --font-size-small: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.4rem;
    --font-size-xx-large: 3.4rem;
}

html {
    background: var(--color-bg--main);
    color: var(--color-txt);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: 1.4;
    -webkit-text-size-adjust: 100%;
}

body {
    font-size: var(--font-size-medium);
    max-width: var(--content-width);
    padding: var(--body-padding);
    margin: env(safe-area-inset-top) auto env(safe-area-inset-bottom) auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1
}

h6 {
    font-size: var(--font-size-x-small);
}

h5 {
    font-size: var(--font-size-small);
}

h4 {
    font-size: var(--font-size-medium);
}

h3 {
    font-size: var(--font-size-large);
}

h2 {
    font-size: var(--font-size-x-large);
}

h1 {
    font-size: var(--font-size-xx-large);
}

a {
    color: var(--color-txt--subtle);
}

a:hover {
    text-decoration: underline;
}

p, pre {
    margin-bottom: 15px;
}

pre {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    background-color: var(--color-bg--surface);
    padding: 10px;
    margin: 0 2em;
    border-radius: 4px;
}

ul, ol {
    padding: 0 0 18px 30px;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

small {
    font-size: 0.85em;
}

sup {
    vertical-align: super;
    font-size: 0.85em;
}

sub {
    vertical-align: sub;
    font-size: 0.85em;
}

hr {
    display: flex;
    height: 0.1rem;
    width: 60%;
    margin: 3rem auto;
    background-color: var(--color-almost-black);
    background-size: auto 0.5rem;
    border: 0;
    border-radius: 3em;
    overflow: visible;
}

blockquote {
    margin: 10px;
    padding: 0px 1rem;
    border-left: 2px solid var(--color-almost-black);
    font-style: italic;
}

acronym, abbr {
    cursor: help;
    letter-spacing: 1px;
    border-bottom: 1px dashed;
}

code {
    font-family: var(--font-family--mono);
    border-radius: 0.2em;
    padding: 0.2em 0.5em;
}

figure {
    padding: 0;
}

figcaption {
    font-size: var(--font-size-small);
    font-style: italic;
    color: var(--color-txt--subtle);
}

footer {
    color: var(--color-txt--subtle);
    width: 100%;
    border-top: 1px solid var(--color-bg--surface);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: .9em;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

footer .bottom {
    width: 100%x;
    border-top: 1px solid var(--color-bg--surface);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footnotes {
    margin-top: 3em;
    font-size: var(--font-size-small);
    line-height: 0.9;
}

header {
    margin-top: 2em;
}

header h1 {
    letter-spacing: var(--letter-spacing--titles);
}

header h1 a {
    text-decoration: none;
    color: var(--color--titles);
}

article header {
    margin-bottom: 3rem;
}

nav {
    margin-top: 2.4rem;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom: 1;
    *display: inline;
    list-style-type: none;
    font-family: var(--font-family);
    font-style: italic;
    font-size: 1.1em;
}

nav li {
    float: left;
    padding: 0px 3px;
}

nav li:after {
    content: " \00b7 ";
}

nav li:last-child:after {
    content: "";
}

img, object, embed {
    max-width: 100%;
}

td, td img {
    vertical-align: top;
}

/* scale images in IE7 more attractively */

.ie7 img {
    -ms-interpolation-mode: bicubic;
}

p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.only-print {
    display: none;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
    .only-print {
        display: block;
    }
}

.postit-note {
    transform: rotate(-1deg);
    background: var(--color-bg--postit);
    padding: 3rem;
    border-radius: 0.2rem;
    max-width: 50rem;
    overflow: hidden;
    box-shadow: 5px 5px 7px var(--color-shadow);
}

.post-list {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 1fr max-content;
    margin-top: 1em;
}

.post-list a {
    color: var(--color-txt);
    text-decoration: none;
}

.post-list a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 640px) {
    .post-list {
        grid-template-columns: 1fr;
        grid-row-gap: 0;
    }
}