<section class='bio'>
  <header>
    <h2>Your host</h2>
  </header>
  
      <img src="/me.png"
          width="72"
          height="72">
  
  <p>My name is Tasos Sangiotis. I recon you know that already from the name of the page. I build robots and I'm always right.</p>
<a href="https://twitter.com/tsangiotis" class="twitter-follow-button" data-show-count="false">Follow @tsangiotis</a>


<p>If you choose to wander this wasteland do so with caution. Consider this your final warning.</p>

  <form action='/posthaven/subscription' class='posthaven-subscribe-form posthaven-control'>
<div class='posthaven-user-required' style='display:none'>
<div class='posthaven-user-unsubscribe' style='display: none'>
You're following this blog.
<a data-method='DELETE' href='javascript:void(0);'>
Unfollow
</a>
</div>
<div class='posthaven-user-subscribe'>
<a data-method='POST' href='javascript:void(0);'>
Follow this Posthaven
</a>
</div>
</div>
<div class='posthaven-anon posthaven-subscribe-anon'>
Enter your email address to get email alerts about new posts on this site.
Unsubscribe anytime.

<div class='posthaven-subscribe-error posthaven-form-error' style='display:none'>
Email address is invalid.
</div>
<input name='email_address' placeholder='Email Address' type='text'>
<input type='submit' value='Subscribe'>
</div>
</form>

</section>