<section class='bio'>
  <header>
    <h2>Your host</h2>
  </header>
  
      <img src="/me.png"
          width="72"
          height="72">
  
  <p>My name is Tasos Sangiotis. I recon you know that already from the name of the page. I build robots and I'm always right.</p>
<a href="https://twitter.com/tsangiotis" class="twitter-follow-button" data-show-count="false">Follow @tsangiotis</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<p>If you choose to wander this wasteland do so with caution. Consider this your final warning.</p>

</section>