<section class='bio'>
  <header>
    <h2>Your host</h2>
  </header>
  
      <img src="/assets/images/me.png"
          width="72"
          height="72">
  
  <p>My name is Tasos Sangiotis. I recon you know that already from the name of the page. I build robots and I'm always right.</p>
  <a href="https://instagram.com/tsangiotis"><img src="/assets/images/instagram.png"
          width="26"
          height="26"/></a>

<p>If you choose to wander this wasteland do so with caution. Consider this your final warning.</p>

</section>
