<section>
        <header>
            <h2>somewhat organized</h2>
        </header>
        <ul style="list-style-type: none; padding: 0px;">
            <li><a href="/opinion">Opinion</a></li>
            <li><a href="/short">Short</a></li>
            <li><a href="/Guides">Guides</a></li>
            <li><a href="/Photography">Photography</a></li>
            <li><a href="/Projects">Projects</a></li>
            <li><a href="/Personal">Personal</a></li>
            <li><a href="/Thesis">Thesis</a></li>
            <li><a href="/Greek">Greek</a></li>
        </ul>
    </section>