<section>
        <header>
            <h2>somewhat organized</h2>
        </header>
        <ul style="list-style-type: none; padding: 0px;">
            <li><a href="/opinion">Opinion</a></li>
            <li><a href="/short">Short</a></li>
            <li><a href="/guides">Guides</a></li>
            <li><a href="/photography">Photography</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/personal">Personal</a></li>
            <li><a href="/thesis">Thesis</a></li>
            <li><a href="/greek">Greek</a></li>
        </ul>
    </section>