<header class="header">
  <nav class="nav">
    <div class="nav__container">
      <div class="nav__content">
        <div class="nav__logo">
          <a href="/" aria-label="Me">
            <img src="https://imagedelivery.net/mdSbb1GKWP_xXxxsYl5evQ/57edfb4d-d4f1-4105-5f97-4081ea375b00/optimised">
            {{site.title}}
          </a>
        </div>
        <ul class="nav__items">
          <li><a href="/about/" aria-label="Features">About</a></li>
          <li><a href="/photos/" aria-label="For domains">Photos</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>