<head>

    <meta charset="UTF-8" />

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta name="viewport" content="width=device-width" />
    <meta property="author" content="{{ site.author }}" />
    <meta property="fb:admins" content="tsangiotis" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@tsangiotis" />
    <meta name="twitter:creator" content="@tsangiotis" />
    <link rel="author" href="https://plus.google.com/110914826679729865229" />{% assign tags = site.tags | sort %}
    <meta name="keywords" content="{% for tag in tags %}{% if tag[0] != " great " %}{{ tag[0] }} {% endif %}{% endfor %}" /> {% seo %} {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{ page.image }}" /> {% else %}
    <meta property="og:image" content="{{ site.url }}/assets/images/fb_img.jpg" /> {% endif %}

    <link rel="stylesheet" type="text/css" href="/assets/css/min.css" media="none" onload="this.media='all';"/>
    <link href='/favicon.png' rel='shortcut icon' type='image/png' />

</head>
