<section>
    <header>
        <h2>Your #travelgoals</h2>
    </header>
    <p>Places you <i>really</i> want to visit:</p>
    <ul class="goals">
        <li>
            <a href="http://tilde.town/~tsangiotis">Book reviews and tally</a><br>
            <span class="postdescription">on <del>perispomeni.club</del> <a href="http://tilde.town/">tilde.town</a></span>
        </li>
        <li>
            Funny and thought through <a href="https://twitter.com/tsangiotis">tweets</a><br>
            <span class="postdescription">in my unbiased opinion</span>
        </li>
        <li>
            Awesome and vain <a href="https://instagram.com/tsangiotis">instagram feed</a><br>
            <span class="postdescription">in my unbiased opinion (again)</span>
        </li>
        <li>
            <a href="https://github.com/tsangiotis">The Github home of projects</a><br>
            <span class="postdescription">Some of them disrupting, some of them disturbing</span>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/tsangiotis">A rich LinkedIn</a><br>
            <span class="postdescription">One of the doors to the professional world</span></li>
    </ul>
</section>