<section>
        <form class="search" method="get" action="https://www.google.com/search">
            <table>
                <tr>
                    <td>
                        <input type="text" name="q" size="25" maxlength="255" placeholder="three questions" value="" />
                        <input type="submit" value="Search" />
                        <input type="hidden" name="sitesearch" value="tsangiotis.com" />
                    </td>
                </tr>
            </table>
        </form>
    </section>
