<section style="text-align: center; max-width: 32rem;overflow: initial;transform: rotate(-1deg);">
  <form action="https://tsangiotis.us14.list-manage.com/subscribe/post?u=4e5ea87acdedceaf51b82bd43&amp;id=fdeb18720b" accept-charset="UTF-8" data-remote="true" method="post">
    <label for="EMAIL">
      Subscribe below to get future posts from Tasos Sangiotis
    </label>

    <div>
      <input type="email" name="EMAIL" placeholder="Type your email…" required="">

      <button>Subscribe</button>
    </div>

  </form>
  <p class="txt--x-small flush--bottom">
    Or grab the <a class="permalink" href="/feed">RSS feed</a>
  </p>
</section>
