html {
  /* Set the font globally */
  font-family: var(--sans-font);
}

/* Make the body a nice central block */
body {
  color: var(--text);
  background: var(--bg);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  max-width: 42rem;
  padding: 0 .5rem;
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
}
