/* Set the global variables for everything. Change these to use your own fonts and colours. */
:root {

    /* Set sans-serif & mono fonts */
    --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
    --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  
    /* Body font size. By default, effectively 18.4px, based on 16px as 'root em' */
    --base-fontsize: 1.15rem;
  
    /* Major third scale progression - see https://type-scale.com/ */
    --header-scale: 1.25;
  
    /* Line height is set to the "Golden ratio" for optimal legibility */
    --line-height: 1.618;
  
    /* Default (light) theme */
    --bg: #FFF;
    --accent-bg: #F5F7FF;
    --text: #212121;
    --text-light: #585858;
    --border: #D8DAE1;
    --accent: #2e5090;
    --accent-light: #4e78c6;
    --code: #be1f2b;
    --preformatted: #444;
    --marked: #f5d652;
    --disabled: #EFEFEF;
  }
  
  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    :root {
      --bg: #1b2733;
      --accent-bg: #4e78c6;
      --text: #DCDCDC;
      --text-light: #ABABAB;
      --border: #666;
      --accent: #FFB300;
      --accent-light: #FFECB3;
      --code: #f2a575;
      --preformatted: #CCC;
      --disabled: #111;
    }
  
    img, video {
      opacity: .6;
    }
  }

  html {
    /* Set the font globally */
    font-family: var(--sans-font);
  }
  
  /* Make the body a nice central block */
  body {
    color: var(--text);
    background: var(--bg);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    max-width: 45rem;
    padding: 0 .5rem;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  header {
      margin-top: 2rem;
      text-align: center;
  }

  header img {
      border-radius: 3rem;
  }

  header h1 {
      margin: 0;
      font-size: calc(var(--base-fontsize) * var(--header-scale));
  }
 
  /* Fix line height when title wraps */
  h1, h2, h3 {
    line-height: 1.1;
  }
  
  /* Format navigation */
  nav {
    font-size: 1rem;
    line-height: 2;
    padding: 1rem 0;
  }
  
  nav a {
    transition: color .2s ease, background-color .2s ease, box-shadow .2s ease;
    margin: 1rem 1rem 0 0;
    border: 1px solid var(--border);
    border-radius: 3rem;
    color: var(--bg) !important;
    background-color: var(--accent);
    display: inline-block;
    padding: .1rem 1rem;
    text-decoration: none;
    font-size: small;
    transition: .4s;
  }
  
  nav a:hover {
    color: var(--border) !important;
    border-color: var(--border);
  }
  
  nav a.current:hover {
    text-decoration: none;
  }
  
  footer {
    margin-top: 4rem;
    padding: 2rem 1rem 1.5rem 1rem;
    color: var(--text-light);
    font-size: .9rem;
    text-align: center;
    border-top: 1px solid var(--border);
  }
  
  
  
  /* Format links & buttons */
  a,
  a:visited {
    color: var(--accent);
  }
  
  a:hover {
    text-decoration: none;
  }
  
  
  main img, main video {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  figure {
    margin: 0;
  }
  
  figcaption {
    font-size: .9rem;
    color: var(--text-light);
    text-align: center;
    margin-bottom: 1rem;
  }
  
  blockquote {
    margin: 2rem 0 2rem 2rem;
    padding: .4rem .8rem;
    border-left: .35rem solid var(--accent);
    opacity: .8;
    font-style: italic;
  }
  
  
  /* Use mono font for code like elements */
  code,
  pre,
  pre span,
  kbd,
  samp {
    font-size: 1.075rem;
    font-family: var(--mono-font);
    color: var(--code);
  }
  
  kbd {
    color: var(--preformatted);
    border: 1px solid var(--preformatted);
    border-bottom: 3px solid var(--preformatted);
    border-radius: 5px;
    padding: .1rem;
  }
  
  pre {
    padding: 1rem 1.4rem;
    max-width: 100%;
    overflow: auto;
    overflow-x: auto;
    color: var(--preformatted);
    background: var(--accent-bg);
    border: 1px solid var(--border);
    border-radius: 5px;
  }
  
  /* Fix embedded code within pre */
  pre code {
    color: var(--preformatted);
    background: none;
    margin: 0;
    padding: 0;
  }