:root {
    --color-white: #fff;
    --color-black: #222;
    --color-grey: #777471;
    --color-light-grey: #e2ddda;
    --color-yellow: #f5d652;
    --color-canary: #fff5ca;
    --color-canary-tint: #fffae5;
    --color-cobalt: #4e78c6;
    --color-blurple: #2e5090;
    --color-salmon: #be1f2b;
    --color-peach: #fee5da;
    --color-peach-tint: #fef2ed;
    --color-teal: #9ED9C3;
    --color-grass: #008265;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-text: var(--color-black);
    --color-link: var(--color-blurple);
    --color-accent: var(--color-cobalt);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    overflow-x: hidden;
    scroll-padding: 10em 0 0 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: black;
}

main {
    padding: 0;
    padding-top: 2em;
    padding-top: max(2em, 4vmin);
    width: 100%;
    margin: 0 auto;
    max-width: 78rem;
}

@media (max-width: 40em) {
    main {
        padding: 1.6em;
    }
}

a, a:visited {
    color: inherit;
}

:target::before {
    display: block;
    position: relative;
    padding-top: 1em;
}

del {
    text-decoration: line-through;
}

p, pre {
    margin-bottom: 15px;
}

pre {
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    background-color: var(--color-light-grey);
    padding: 10px;
    margin: 1em 0.1em;
    border-radius: 4px;
    border: 1px dashed;
}

code {
    font-family: monospace;
    font-size: x-small;
    border-radius: 0.2em;
    padding: 0.2em 0.5em;
    background-color: var(--color-light-grey);
}

figure {
    position: relative;
    margin: 0.5em auto 2em auto;
    width: 100%;
    text-align: center;
}

figure img {
    display: block;
    margin: 0 auto;
    box-shadow: 2rem 2rem 6rem var(--color-shadow);
    border-radius: 1rem;
}

figure a {
    border-bottom: 0;
}

figcaption {
    margin: 0.75em 0 0.75em 0;
    font-style: italic;
    font-weight: normal;
    font-size: x-small;
    line-height: 1.3;
}

img, svg, video {
    max-width: 100%;
    height: auto;
}

p>img {
    max-width: 60%;
    display: block;
    margin: 0 auto;
}

hr {
    width: 100%;
    height: 0.2rem;
    display: block;
    clear: both;
    margin: 1em auto;
    padding: 0;
    border: 0;
    background: linear-gradient(to right, var(--color-blurple) 0%, var(--color-salmon) 100%);
}

blockquote {
    quotes: none;
}

blockquote p:before {
    content: "“";
    display: inline;
}

blockquote p:after {
    content: "”";
    display: inline;
}

blockquote cite {
    display: block;
    font-size: x-small;
    font-weight: 700;
}

embed, iframe, object {
    max-width: 100%;
}

label {
    display: block;
    margin: 0.5em 0 0 0;
    font-weight: normal;
    font-size: small;
    letter-spacing: -0.02em;
    line-height: 1.5;
    text-align: left;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;
}

td {
    border: none;
    padding: 1em;
}

footer {
    margin: 1em 0 1.5em 0;
    text-align: center;
    font-size: x-small;
    font-style: italic;
    letter-spacing: -0.03rem;
}

.btn {
    display: inline-block;
    margin: 0;
    padding: 0.3em 0.8em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 3rem;
    white-space: nowrap;
    background-color: transparent;
    color: black;
    border: 1px solid;
}

.btn--subtle {
    color: var(--color-blurple) !important;
    border: 1px solid var(--color-blurple);
}

body>header {
    padding-top: 1.5em;
    padding-top: max(1.5em, 4vmin);
}

header>nav {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: x-small;
    margin-top: 0.5em !important;
}

img:not([width]):not([height]) {
    min-width: 1px;
    min-height: 1px;
}

.avatar {
    width: 2.625em;
    height: 2.625em;
    border-radius: 100%;
    z-index: 1;
    display: block;
    position: relative;
    color: transparent;
    background-color: rgb(251, 250, 249);
}

.header__nav--item {
    transition: color .2s ease, background-color .2s ease, box-shadow .2s ease;
    margin: 0.25em 0.125em;
    padding: 0.25em 0.75em;
    font-size: small;
    background: var(--color-blurple);
    color: white !important;
    border-radius: 1em;
    text-decoration: none;
}

.header__permalink {
    text-decoration: none;
}

.header__title {
    font-size: x-large;
    letter-spacing: -0.03rem;
    margin-top: 0.28em;
}

article {
    text-decoration: none;
}

article header a {
    text-decoration: none;
}

article header h1 {
    font-size: xx-large;
    margin: 0 1em;
}

article header {
    text-align: center;
}

h2.post__title {
    font-size: x-large;
    margin-bottom: 0.4rem;
}

a.post {
    color: inherit;
    text-decoration: none;
}

.post__time {
    font-size: small;
}

.post__date {
    font-size: small;
}

.print, .print * {
    display: none!important
}

@media print {
    .no-print, .no-print * {
        display: none!important
    }
    .print, print * {
        display: block!important
    }
}