<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

{% include head.html %}

<body>
    <div class="container">

        {% include header.html %}

        <main>
            {{ content }}
        </main>

        {% include sidebar.html %}
    </div>

    <div style="clear:both"></div>
    <footer>
        <p>&copy; 2017 Tasos Sangiotis</p>
        <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '/js/analytics.js', 'ga');

        ga('create', '{{ site.ganalytics }}', 'auto');
        ga('send', 'pageview');
        </script>
    </footer>

</body>

</html>
