---
layout: simple
---

{% if site.paginate and site.paginate_path %}

<ul class="posts">
  {% for post in paginator.posts %}
  <li class="post__item">
    <a href="{{ post.url | absolute_url }}" class="post__link">
      <h2 class="post__title">{{ post.title }}</h2>
    </a>
    <span class="post__date">
      {{ post.date | date: "%b %-d, '%y" }}
    </span>
  </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}

<div class="pagination">
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl  }}"
    class="btn pagination__btn pagination__btn--previous">Older</a>
  {% else %}
  <span>&nbsp;</span>
  {% endif %}
  <span class="pagination__number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}"
    class="btn pagination__btn pagination__btn--next">Newer</a>
  {% else %}
  <span>&nbsp;</span>
  {% endif %}
</div>

{% endif %}
{% endif %}