<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="https:///www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title }}{% else %}@mialigoura{% endif %}</title>
  {% seo %}

  {% include social_meta_tags.html %}

  <link rel="icon" type="image/png" sizes="300x300" href="{{ site.baseurl }}/assets/images/mialigoura.jpg">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" defer>
  <style>
    :root {
      --accent: #f5d652;
      --accent-light: #fff5ca;
      --marked: #2e5090;
    }

    /* Dark theme */
    @media (prefers-color-scheme: dark) {
      :root {
        --marked: #71aef0;
      }
  </style>
  {% if page.remote %}
  <link rel="canonical" href="{{ page.remote_url }}" />
  <meta http-equiv="refresh" content="1; url={{ page.remote_url }}">
  {% endif %}
</head>

<body>
  <header>
    <a class="header__permalink" href="/mialigoura">
      <img src="{{ site.baseurl }}/assets/images/mialigoura.jpg" width="50px" height="50px" alt="mialigoura logo">
    </a>
    <h1>mialigoura</h1>
    <p>by Anna Vekri and Tasos Sangiotis</p>
    <nav>
      <a href="/" style="background-color: var(--marked);">← Tasos Sangiotis</a>
      <a href="https://instagram.com/mialigoura">Follow @mialigoura</a>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy;{{site.author}}, 2022</p>
    <p>hey@tsangiotis.com</p>
  </footer>

</body>

</html>