<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="https:///www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{site.title}}{% endif %}</title>
  {% seo %}

  {% include social_meta_tags.html %}

  <link rel="icon" type="image/png" sizes="300x300" href="/assets/images/me.jpg">

  {% if page.remote %}
  <link rel="canonical" href="{{ page.remote_url }}" />
  <meta http-equiv="refresh" content="1; url={{ page.remote_url }}">
  {% endif %}

  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
</head>

<body>


  {% include header.html %}
  <main>
    {{ content }}
  </main>

  <footer>
    &copy;{{site.author}}, 2024 - hey@tsangiotis.com
  </footer>

</body>

</html>

