<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="https:///www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{site.title}} | {% if page.title %}{{ page.title }}{% else %}{{site.description}}{% endif %}</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72716429-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-72716429-1');
  </script>

  {% seo %}

  {% include social_meta_tags.html %}

  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/css/style.css" defer>
  {% if page.remote %}
  <link rel="canonical" href="{{ page.remote_url }}" />
  {% endif %}
</head>

<body>


  {% include header.html %}
  <main class="content fade-in">
    <div class="sheet">
      {{ content }}
    </div>
  </main>

  <footer class="footer">
    <p>&copy; {{site.author}}, 2021</p>
  </footer>

</body>

</html>